@page
@model Real_DB_project.Pages.PetsSignedInModel
@{
	Layout = "_Layout";
}


<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		@*  <a class="navbar-brand" href="index.html">WPPS :)<span></span></a> *@
		<a class="navbar-brand" asp-area="" asp-page="/Index">WPPS :)<span></span></a> @*edited*@

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">

				@* I Changed the routing conventions from the template *@
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-page="/Index">Home</a>
				</li>

				@* 				<li class="nav-item">
				<a class="nav-link" asp-area="" asp-page="/shop">Pets</a>
				</li> *@

				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-page="/Follow up">Follow up with your pet</a>
				</li>

			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li><a class="nav-link" asp-area="" asp-page="/IndexSingedIn"><img src="images/user.svg"></a></li>         @*edited*@

			</ul>
		</div>
	</div>
</nav>
<!-- End Header/Navigation -->
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-3">
				<div class="intro-excerpt">
					<h1>Explore pets</h1>

				</div>
			</div>
			<div class="col-lg-6">
				<div class="hero-img-wrap">
					<div>
						<img src="images/pngegg (6).png" class="img-fluid">
					</div>
					<div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End Hero Section -->
@* <h1> number of pets is @Model.dt.Rows.Count .Count</h1> *@


<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div class="row">
			@for (int i = 0; i < Model.PetCount; i++)
			{
				<div class="col-12 col-md-4 col-lg-3 mb-5">
					<form method="get" action="/Requests">
						<input type="hidden" name="PetID" value="@Model.Pet[i].PetID" />
						<input type="hidden" name="ClientUser" value="@Model.ClientUser" />

						<button type="submit" class="product-item" style="border: none">
							<img src="images/@Model.Pet[i].PetID .jpeg" class="img-fluid product-thumbnail">
							<h3 class="product-title">@Model.Pet[i].PetName</h3>
							<strong class="product-price">@Model.Pet[i].PetType</strong>
							<span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
						</button>
					</form>
				</div>
			}
		</div>
	</div>
</div>





@* <footer>
	<div class="container-fluid relative">
		<div class="sofa-img row g-0">
			<img src="images/Pet-PNG-File.png" alt="Image" class="img-fluid w-100">
			<div class="text-center text-white position-absolute top-50 start-50 translate-middle">
				<p class="fs-3">Hi</p>
			</div>
		</div>
	</div>
</footer> *@



<!-- End Footer Section -->	